!!!
%html
  %head
    %title= title
    = stylesheet_link_tag :all
    = stylesheet_link_tag "blueprint/screen", :media=> 'screen'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    = yield
